// Override Bootstrap variables here
$body-bg: #000;
$btn-padding-y: 50px;

$theme-colors:
  (
    "primary": coral,
    "nice": green
  );

// Include Bootstrap SASS here. This will allow our overrides to take effect.
@import '~bootstrap/scss/bootstrap';

// Your regular styles here
.my-heading {
    background: theme-color("secondary");
    border: 3px solid theme-color('warning');
}
