// Override Bootstrap variables here
$body-bg: #effcef;
$btn-padding-y: 50px;


// Project colors : #effcef, #ccedd2, #94d3ac, #655c56, and #eeecda 
$theme-colors:
  (
    "primary": #94d3ac,
    "secondary": #eeecda,
    "info": rgb(182, 168, 90),
    "dark": rgb(79, 94, 78),
    "light": #ccedd2,
    "checker": rgb(113, 145, 109),
    
  );

// Include Bootstrap SASS here. This will allow our overrides to take effect.
@import '~bootstrap/scss/bootstrap';

// Your regular styles here
.my-heading {
    background: theme-color("secondary");
    border: 3px solid theme-color('warning');
}

html,
body {
    font-family: 'Rubik', sans-serif;

}
.caption {
    position: absolute;
    top: 45%;
    color: white;
}